{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<div class="row row-space">
    <div class="col-12">
        <br>
        <p>
            Mussum Ipsum, cacilds vidis litro abertis. 
            In elementis mé pra quem é amistosis quis leo. 
            Viva Forevis aptent taciti sociosqu ad litora torquent. 
            Aenean aliquam molestie leo, vitae iaculis nisl. 
            Mé faiz elementum girarzis, nisi eros vermeio.
            Cevadis im ampola pa arma uma pindureta. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
            Praesent malesuada urna nisi, quis volutpat erat hendrerit non. 
            Nam vulputate dapibus. Detraxit consequat et quo num tendi nada.
        </p>                
    </div>
</div>
{% endblock %}