{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col-12">
        <h1>Lista Movimentos Rotativos</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_movrotativos_novo' %}" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <br>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for mov_rotativo in mov_rot %}
                <tr>
                    <th scope="row">{{ mov_rotativo.id }}</th>
                    <td>{{ mov_rotativo.veiculo }}</td>
                    <td>{{ mov_rotativo.checkout }}</td>
                    <td>{{ mov_rotativo.valor_hora }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

